.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out
}

.headroom.headroom--pinned {
  opacity: 1
}

.headroom.headroom--unpinned {
  opacity: 0
}

.headroom.headroom--pinned.headroom--top {
  display: none
}
