.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;

  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  -o-transform-origin: top;
  transform-origin: top;

  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible;
  -o-backface-visibility: visible;
  backface-visibility: visible;

  transition: transform .5s ease-in-out;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  -moz-transition: -moz-transform .5s ease-in-out;
  -o-transition: -o-transform .5s ease-in-out
}

.headroom.headroom--pinned {
  transform: perspective(400px) rotateX(0deg);
  -webkit-transform: perspective(400px) rotateX(0deg);
  -moz-transform: perspective(400px) rotateX(0deg);
  -o-transform: perspective(400px) rotateX(0deg)
}

.headroom.headroom--unpinned {
  -webkit-transform: perspective(400px) rotateX(-90deg);
  -moz-transform: perspective(400px) rotateX(-90deg);
  -o-transform: perspective(400px) rotateX(-90deg);
  transform: perspective(400px) rotateX(-90deg)
}

.headroom.headroom--pinned.headroom--top {
  display: none
}
